/* Comentario */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0853b5;
    padding: 20px 40px;
    color: rgb(191, 83, 83);}

.logo{
    background: orange;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(129, 20, 20);
}

.navlinks {
    display: flex;
}

.navlinks a {
    margin-left: 25px;
    text-decoration: none;
    color: rgb(231, 218, 218);
    font-size: 20px;
}

.navlinks a:hover{
    color: rgb(225, 50, 56);
    transition: 0.3s;
}

.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
    background: linear-gradient(to right, #071f3f);
    color: white;
}

.texto {
    max-width: 500px;
}

.texto h1 {
    font-size: 50px;
    color: rgb(252, 113, 44);
}

.texto h2 {
    margin-top: 20px;
    font-size: 30px;
}

.texto p {
    margin-top: 20px;
    font-size: 18px;
}

/* Alinea el logo naranja con el nombre "Pablo Quezada" */
.header-brand {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre el cuadro naranja y el texto */
    color: white;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
}

/* --- ESTILO PARA EL CÍRCULO --- */
.imagen-perfil .circulo {
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Esto hace el círculo */
    overflow: hidden;   /* Corta la imagen para que no se salga */
    border: 5px solid orange; /* Opcional: un borde para que combine con el logo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-perfil .circulo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen no se estire */
}